.custom-object-position {
  object-position: 57% center; /* Adjust the percentage to slightly move the image */
}

.custom-zoom {
  transform: scale(1.25); /* Adjust the scale factor to zoom in */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .home-container {
    text-align: center;
    padding: 1rem; /* Add padding for smaller screens */
  }

  .home-container .image-container {
    width: 120px; /* Adjust the width to fit smaller screens */
    height: 120px; /* Adjust the height to fit smaller screens */
    margin-bottom: 1rem;
  }

  .home-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the container */
    transform: scale(1.25); /* Maintain the zoom effect */
  }

  .home-container h1 {
    font-size: 2rem;
  }

  .home-container p {
    font-size: 1rem;
  }
}
